<table>
    <tr>
        <th>Sensor</th>
        <th>Value</th>
        <th>Unit</th>
        <!-- <th>Status</th> -->
    </tr>
    <tr>
        <td>Temperature</td>
        <td style="background-color: red">{{temperature}}</td>
        <td>&deg;C</td>
        <!-- <td>Normal</td> -->
    </tr>
    <tr>
        <td>Humidity</td>
        <td style="background-color: green">{{humanity}}</td>
        <td>%</td>
        <!-- <td>Normal</td> -->
    </tr>
    <tr>
        <td>Wind</td>
        <td style="background-color:aquamarine">Off</td>
        <td></td>
        <!-- <td>Normal</td> -->
    </tr>
    <tr>
        <td>Motion</td>
        <td style="background-color: gray">No</td>
        <td></td>
        <!-- <td>Normal</td> -->
    </tr>
</table>