<div class="row">
    <div class="column" style="background-color: gray">
        <p>Máy bơm: </p>
        <span id="pump">Off</span>
    </div>
    <div class="column" style="background-color:aquamarine">
        <p>Quạt gió: </p>
        <span id="wind">Off</span>
    </div>
    <div class="column" style="background-color: rgb(88, 222, 88)">
        <p>Độ ẩm: </p>
        <span id="humidity">Loading...</span><span>%</span>
    </div>
    <div class="column" style="background-color: rgb(243, 135, 135)">
        <p>Nhiệt độ: </p>
        <span id="temperature">Loading...</span><span>*C</span>
    </div>
</div>