<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Number</th>
            <th>Location</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody id="vehicle-park-body">
        <!-- {% if inforData %}
        {% for data in inforData|reverse %}
        <tr>
            <td>{{ data.key }}</td>
            <td>{{ data.id }}</td>
            <td>{{ data.pos }}</td>
            <td>{{ data.time }}</td>
        </tr>
        {% endfor %}
        {% endif %} -->
    </tbody>

</table>